@font-face {
    font-family: 'ansonregular';
    src: url('font/anson-regular-webfont.eot');
    src: url('font/anson-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/anson-regular-webfont.woff') format('woff'),
         url('font/anson-regular-webfont.ttf') format('truetype'),
         url('font/anson-regular-webfont.svg#ansonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
h2{
    font-family: ansonregular;
    font-size:52px;
    letter-spacing: 5px;
    font-style: italic;
    font-weight: bold;
}
body
{
    background-image: url("background.jpg");
    background-attachment: fixed;
    background-size:cover;
    color:white;
   
}
#main
{
    font-family:ansonregular;
    border-radius: 25px;
    max-width: 960px;
    height:850px;
    margin:10px auto;
    /*border: 1px solid white;*/
    background: rgb(54, 25, 25); 
    background: rgba(0, 0, 0, .7);
    padding-top:25px;
    padding-left:25px;
    padding-right:25px;
}
footer{

    
    border-radius: 25px;
    max-width: 960px;
    margin:10px auto;
   
    background: rgb(0,0,0); 
    background: rgba(0, 0, 0, .7);
    padding-top:10px;
    padding-bottom:10px;
    padding-left:25px;
    padding-right:25px;

    font-family:ansonregular;
    text-align:center;
    font-style:italic;
}
#back_img {
    max-width: 100%;
    height: auto;
    z-index: -1;
}
.header{
    max-width: 960px;
    display: block;
    margin: auto;
    text-align: center;
   /*border: 1px solid white;*/ 
    
}


nav ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    
}

nav li {
    float: left;
}

#prawy{
    float: right;
}

nav li a {
    font-family: ansonregular;
    font-size:20px;
    display: block;
    color: white;
    text-align: center;
    font-style: italic;
    padding: 14px 16px;
    text-decoration: none;
    
}


nav li a:hover, .menu:hover  {
    background-color: #525252;
}
.active{
    background-color: #994d00;
}

li.menu {
    display: inline-block;
}
.podmenu {
    display: none;
    position: absolute;  
    min-width: 160px;
    background: rgb(0,0,0);
    background: rgba(0, 0, 0, .9);
    

}

.menu:hover .podmenu {
    display: block;
}

table{
    border: 2px solid white;
}
/*rows="10" cols="48"*/


.kontakt{
    
    display: block;
    margin: auto;
    
}

textarea{
    display: block;
    height: 100px;
    width: 350px;
    
}