@font-face {
    font-family: 'ansonregular';
    src: url('font/anson-regular-webfont.eot');
    src: url('font/anson-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/anson-regular-webfont.woff') format('woff'),
         url('font/anson-regular-webfont.ttf') format('truetype'),
         url('font/anson-regular-webfont.svg#ansonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
h2{
    font-family: ansonregular;
    font-size:52px;
    letter-spacing: 5px;
    font-style: italic;
    font-weight: bold;
}
body
{
    background-image: url("background.jpg");
    background-attachment: fixed;
    background-size:cover;
    color:white;
   
}
#main
{
    font-family:ansonregular;
    border-radius: 25px;
    max-width: 960px;
    min-height:700px;
    margin:10px auto;
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, .7);
    padding-top:25px;
    padding-left:25px;
    padding-right:25px;
    padding-bottom:50px;
}
footer {
    border-radius: 25px;
    max-width: 960px;
    margin: 10px auto;
    background: rgb(0,0,0);
    background: rgba(0, 0, 0, .7);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: ansonregular;
    text-align: center;
    font-style: italic;
}
.header{
    max-width: 960px;
    display: block;
    margin: auto;
    text-align: center;
   /*border: 1px solid white;*/ 
    
}


nav ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    
}

nav li {
    float: left;
}

#prawy{
    float: right;
}

nav li a {
    font-family: ansonregular;
    font-size:20px;
    display: block;
    color: white;
    text-align: center;
    font-style: italic;
    padding: 14px 16px;
    text-decoration: none;
    
}


nav li a:hover, .menu:hover  {
    background-color: #525252;
}
.active{
    background-color: #994d00;
}

li.menu {
    display: inline-block;
}
.podmenu {
    display: none;
    position: absolute;  
    min-width: 160px;
    background: rgb(0,0,0);
    background: rgba(0, 0, 0, .9);
    

}
.center{
    text-align:center;
}

.menu:hover .podmenu {
    display: block;
}


#kontakt{
    padding-top: 50px;
    display: flex;
    justify-content: center; 
    padding-bottom: 10px;
}

#wiadomosc{
 
    margin-top: 10px;
    display: block;
    height: 100px;
    max-width: 360px;
    width: 100%;
    margin-bottom: 10px;
    
}
.mail, p a{
    color:white;
}
.mail:visited, p a:visited{
    color:#737373;
}

form td{
    padding-top:5px;
    padding-left:5px;
}

div.galeria{
    padding-top:50px;
    padding-left:30px;
    padding-right:30px;
    margin:auto;
    display: table;
   
}

.zdjecie{
    
    
    margin: 10px;
    border: 4px solid white;
    float: left;
    width: 180px;
    
  
}
img{
    display:block;
    object-fit: cover;
}

#pentoda{
    padding-top:50px;
    padding-bottom:20px;
    display:block; 
    width:800px; 
    margin:auto;
}
.zdjecie img {
   
  margin: auto;
  width: 100%;
    
}

div.opis {
    padding:20px;
    text-align: center;
    color:black;
    background-color:white;
    font-weight:bold;
    height:30px;
}